body {
    background: black url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica,  Arial, sans-serif;
}

footer {
    color: white;
    background-color: black;
    justify-content: space-between;
}

div {
    background: white url(images/transparent_white.png);
    margin: 10px;
    border-radius: 3px;
}

.welcome {
    opacity: 80%;
    border: 10px solid black;
    padding: 0px 40px;
    width: 500px;
    height: 200px;
    text-align: center;
}

.welcome h1 {
    font-weight: 120;
    font-size: 40px;
}

.welcome p {
    font-weight: lighter;
    font-size: 18px;
}

.res-form {
    background-color: #444444;
    /* background: blacks url(images/transparent_white.png); */
    border: 10px solid white;
    border-radius: 3px;
    align-items: center;
}

.res-form form{
    padding: 20px 125px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.res-form label {
    background-color: #333333;
    color: white;
    align-items: center;
    padding: 5px 7px;
    width: 100%;
    text-transform: uppercase;
    border: none;
    font-size: 11px;
    font-weight: bold;
    border-radius: 3px;
}

.res-form input {
    margin-bottom: 10px;
    border: none;
    font-size: 20px;
    height: 25px;
    width: 100%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 7px;
    border-radius: 3px;
}

.res-form .submit-button {
    color: white;
    width: 100%;
    height: auto;
    background-color: #970e0d;
    border-radius: 3px;
}

.res-form h1 {
    font-weight: 200;
}

.res-form h4 {
    font-weight: 200;
    height: auto;
}

@media screen and (min-width:1000px) {
    .welcome {
        width: 1000px;
        height: auto;
    }

    .res-form {
        width: 1070px;
        height: auto;
    }

}